<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="alert-danger">{{errorMessage}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset2">
        <form (ngSubmit)="onSignin(f)" #f="ngForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" ngModel>
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" ngModel>
          </div>
          <button class="btn btn-primary" type="submit">Sign In</button>
        </form>
      </div>
    </div>
  </div>